<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/image/icon.png" rel="shortcut icon" type="image/png"/>
    <link href="/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet"/>
    <link href="/libs/semantic-ui/2.4.1/components/icon.min.css" rel="stylesheet"/>
    <script src="/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    {% block head %}{% endblock %}
    <meta charset="UTF-8">
    <title>Setup - TicketMan</title>
</head>
<body>
<div style="height: 100%;">
    {% block body %}{% endblock %}
</div>
</body>
{% block script %}{% endblock %}
</html>
