{% extends "TemplateNavBar.html" %}
{% block head %}
    <link href="/libs/semantic-ui-calendar/0.0.8/calendar.min.css" rel="stylesheet"/>
    <script src="/libs/semantic-ui-calendar/0.0.8/calendar.min.js"></script>
    <script src="/libs/highcharts/7.2.0/highcharts.js"></script>
{% endblock %}
{% block title %}Total Ticket Sold{% endblock %}
{% block body %}
    <div class="ui container" style="padding-top: 8em;padding-bottom: 5%;">
        <h2 class="ui header">
            <i class="ticket icon"></i>
            <div class="content">
                Total Ticket Sold
            </div>
        </h2>
        <div class="ui segment">
            <form class="ui large form" method="post">
                <div class="two fields">
                    <div class="field">
                        <label>Start Date</label>
                        <div class="ui calendar">
                            <div class="ui left icon input">
                                <i class="calendar icon"></i>
                                <input name="start_date" placeholder="YYYY/MM/DD" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label>End Date</label>
                        <div class="ui calendar">
                            <div class="ui left icon input">
                                <i class="calendar icon"></i>
                                <input name="end_date" placeholder="YYYY/MM/DD" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="ui large primary button" type="submit" style="float: right;">
                    <i class="filter icon"></i>
                    Filter
                </button>
                <div style="clear: both"></div>
            </form>
        </div>
        {% if not error %}
            <div class="ui center aligned segment">
                <div class="ui two statistics">
                    <div class="statistic">
                        <div class="label">
                            last month
                        </div>
                        <div class="value">
                            {{ month }}
                        </div>
                    </div>
                    <div class="statistic">
                        <div class="label">
                            last year
                        </div>
                        <div class="value">
                            {{ year }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <div id="container" style="width: 70%; height: 400px; margin: 0 auto;"></div>
            </div>
        {% endif %}
        <div class="ui {% if not error %}hidden {% endif %}error message">
            {% if error is defined and error is not string %}
                <div class="header">{{ error[0] }}</div>
                <ul class="list">
                    {% for item in error[1:] %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <div class="header">An Error Occurred</div>
                <ul class="list">
                    <li>{{ error }}</li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="/js/calDo.js"></script>
    <script>
        var content = [];
        var httpRequest = new XMLHttpRequest();
        httpRequest.open('POST', '{{ url_for('get_all_cities_and_airports') }}', true);
        httpRequest.send();
        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState == 4 && httpRequest.status == 200) {
                var response = JSON.parse(httpRequest.responseText);
                for (var i = 0; i < response.length; i++) {
                    content.push({'title': response[i]});
                }
                $('.ui.search').search({source: content});
            }
        };
        $(document).ready(function () {
            Highcharts.chart('container', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Total Amount of Tickets Sold'
                },
                subtitle: {
                    text: 'Current Airline Only'
                },
                xAxis: {
                    categories: {{ barchart_x | safe }}
                },
                yAxis: {
                    title: {
                        text: 'Amount'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Ticket Amount',
                    data: {{ barchart_data | safe }}
                }]
            });
        });
    </script>
{% endblock %}

